[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
fabric = {index = "http://mirrors.aliyun.com/pypi/simple/",version = "*"}

[packages]
pymysql = "*"
mysqlclient = "*"
gunicorn = "*"
django = "*"
markdown = "*"

[requires]
python_version = "3.6"
